NODE_ENV=development
PORT=3001
DATABASE_URL=
DATABASE_PASSWORD=
RHC_ID=4663
RHC_RPC_URL=
AUTH_TOKEN_PEPPER=
CRON_SECRET=
ADMIN_WALLET_ADDRESSES=0xyour_admin_wallet_address
CORS_ORIGIN=http://localhost:3000
