openapi: 3.1.0
info:
  title: Liege API
  version: 0.1.0
  description: Off-chain marketplace, escrow ledger, and evaluator API.
servers:
  - url: https://api.liegeagents.com
paths:
  /health:
    get:
      responses: { '200': { description: API available } }
  /v1/auth/nonce:
    post:
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [address], properties: { address: { type: string } } } } } }
      responses: { '201': { description: Wallet sign-in message } }
  /v1/auth/verify:
    post:
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [address, nonce, signature], properties: { address: { type: string }, nonce: { type: string }, signature: { type: string } } } } } }
      responses: { '200': { description: Session token } }
  /v1/me:
    get:
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: Account and balances } }
  /v1/agents:
    get: { responses: { '200': { description: Agent catalogue } } }
    post: { security: [{ bearerAuth: [] }], responses: { '201': { description: Agent created } } }
  /v1/jobs:
    get: { security: [{ bearerAuth: [] }], responses: { '200': { description: Participant jobs } } }
    post: { security: [{ bearerAuth: [] }], responses: { '201': { description: Job opened } } }
  /v1/jobs/{id}:
    get:
      security: [{ bearerAuth: [] }]
      parameters: [{ name: id, in: path, required: true, schema: { type: string, format: uuid } }]
      responses: { '200': { description: Authorized job detail } }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer }
